* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body {
	height: 100vh;
}

.navbar {
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.navbar__logo {
	font-family: 'Caveat', cursive;
	font-size: 36px;
	color: #4169E1;
}

.navbar-logo__link {
	text-decoration: none;
	color: #4169e1;
}

.menu__list {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	list-style: none;
}

.menu-list__element {
	margin-left: 15px;
}

.menu-list-element__link {
	padding: 2px 3px;
	text-decoration: none;
	color: #000000;
}

.menu-list-element__link:hover {
	background-color: #ffff00;
	cursor: pointer;
}

.menu-list-element__link--active {
	background-color: #ffff00;
}

.hamburger {
	display: none;
	font-size: 36px;
	color: #000000;
	
}

.introducing, .gallery, .information {
	height: 90vh;
	padding: 0 5%;
}

.introducing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 30px;
	color: #808080;
	
}

.introducing__text--black {
	color: #000000;
}

/* SERIES #1 and SERIES #2 */

.gallery__slider {
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

.gallery-slider-list__element {
	display: none;
	max-width: 800px;
}

.gallery-slider-list__element--show {
	display: inline-block;
}

.gallery-slider__button:hover{
	transform: scale(2);
	cursor: pointer;
}

/* ABOUT */

.information {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.information__about {
	flex-basis: 60%;
	line-height: 30px;
}

.information-about__text {
	margin-bottom: 5%;
}

.information-about__text--bold {
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.social-media {
	display: flex;
	justify-content: space-around;
}

.social-media__link {
	color: #000000;
	font-size: 36px;
}

/* RWD */

@media (max-width: 992px) {
	.navbar__logo {
		font-size: 24px;
	}

	.menu	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 50;
		background-color: #ffff00;
	}

	.menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-list__element {
		margin-bottom: 20px;
	}

	.menu-list-element__link {
		font-size: 24px;
	}

	.hamburger {
		display: flex;
		z-index: 100;
		font-size: 24px;
		cursor: pointer;
	}

	.full-screen-menu {
		display: block;
	}

	.twisted {
		transform: rotate(45deg);
	}

	.gallery-slider__button {
		display: none;
	}

	.gallery {
		padding: 0
	}

	.gallery-slider {
		display: block;
		overflow-y: scroll;
	}

	.gallery-slider__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.gallery-slider-list__element  {
		display: block;
		width: 100%;
		margin-bottom: 5%;
	}

	.information__about {
		flex-basis: 90%;
	}

	.information-about__text {
		font-size: 14px;
		line-height: 20px;
	}

	.social-media__link {
		font-size: 20px;
	}

	@media (max-width: 992px) and (orientation: landscape) {
		.information__about {
			flex-basis: 95%;
		}

		.information-about__text {
			font-size: 12px;
		}
	}
}